


<%- include("header") -%>
    <header>
        <div class="banner">
            <div class="container">
                <h1 class="banner-title">
                    <span>Find nearby Tutor</span>
                </h1>
                <p>Finding the right tutor can make all the difference in achieving academic success.</p>
                <form action="/search_result" method="POST">
                    <input type="text" class="search-input" placeholder="Find my Tutor" name = "body">
                    <button type="submit" class="home-search-btn my-2">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>




    <%- include("footer") -%>

        <!-- <a href="auth/tourist_register">Register User</a> -->