

<li><a href="/auth/student_register"><button type="button" class="btn btn-info btn-sm">Register as Student </button></a></li>
<li><a href="/auth/tutor_register"><button type="button" class="btn btn-light btn-sm">Register as Tutor</button></a></li>
