

<li><a href="/auth/student_login"><button type="button" class="btn btn-info btn-sm">Login as Student </button></a></li>
<li><a href="/auth/tutor_login"><button type="button" class="btn btn-light btn-sm">Login as Tutor</button></a></li>
