<%- include("header") -%>

<div class="container-fluid whole-container">
    <h1 class="main-header"><%= tutor.username %> <span><button type="button" class="btn btn-light fav-btn">Favourite <i class = "fa-solid fa-heart"></i></button></span></h1>
    

</div>

<%- include("footer") -%>